@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "MontserratMedium";
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "MontserratSemiBold";
  src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "MulishBold";
  src: url("/fonts/Mulish-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "MulishExtraBold";
  src: url("/fonts/Mulish-ExtraBold.woff2") format("woff2");
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
